<!DOCTYPE html>
<html>
    <head>
        <title>Cross Checks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="/javascripts/vendor/jquery/jquery.js"></script>
        <script src="/javascripts/vendor/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
        <script type="text/x-handlebars">
            <h2>Cross Checks</h2>        
            {{outlet}}
          </script>
          
          <script type="text/x-handlebars" id="index">
            <ul>
            {{#each item in model}}
              <li>{{item}}</li>
            {{/each}}
            </ul>
          </script>
        
    </body>    
    <script src="/javascripts/vendor/ember/jquery-1.10.2.js"></script>
    <script src="/javascripts/vendor/ember/handlebars-1.1.2.js"></script>
    <script src="/javascripts/vendor/ember/ember-data.1.0.0-beta.6.js"></script>
    <script src="/javascripts/vendor/ember/ember-1.2.0.js"></script>
    <script src="/javascripts/crosschecks-app.js"></script>
</html>